.container {
  max-width: 600px;
  margin: auto;
  padding: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-gap: 10px;
  text-align: center;
  padding: 5px;
}

.hello {
  position: relative;
  top: 22px;
  padding: 4px;
}

.grid2 {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-radius: 0.25em;
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 149px;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  margin-right: 6px;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid3 {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  margin-right: -3px;
  display: inline-grid;
  height: -moz-min-content;
  height: min-content;
  grid-row-gap: 10px;
}

.child1 {
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.5);
  position: relative;
  width: 192px;
  left: -88px;
  height: 54px;
  bottom: 4px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.grid4 {
  grid-column: 3 / 4;
  border-radius: 0.25em;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.7);
  margin-left: -3px;
  height: 94px;
  width: 148px;
  margin-left: -10px;
  font-size: 13px;

  // Styles de .comic-button
  display: inline-block;
  padding: 10px 20px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #31363f;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    border: 2px solid #31363f;
    box-shadow: 5px 5px 0px #31363f;

    p {
      color: #000000; // Couleur du texte très foncée
      text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.7); // Augmenter l'effet 3D
    }
  }

  &:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
}
.my-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}

.my-btn2 {
  position: relative;
  left: 220px;
  bottom: 140px;
  width: 39px;
  text-align: center;
  text-decoration: none;
}

#description {
  margin-top: 20px;
}

#barderechercher {
  margin-top: 20px;
}

.grid1 {
  margin-left: 5px;
  padding: 19px;
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border-radius: 0.25em;
  color: #107c10;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  z-index: 1;

  // Styles de .grid4
  background-color: #416d19; // Vert sapin
  border: 2px solid #000;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0e6b0e;
    border: 2px solid #416d19; // Bordure vert sapin lors du survol
    /* box-shadow: 5px 5px 0px white; */ // Ombre vert sapin lors du survol

    p {
      color: white; // Couleur du texte très foncée
      text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.363); // Augmenter l'effet 3D
    }
  }

  &:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
}

.grid2 {
  bottom: -7px;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.grid2 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.grid2 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsla(340, 100%, 16%, 1) 0%,
    hsla(340, 100%, 32%, 1) 8%,
    hsla(340, 100%, 32%, 1) 92%,
    hsla(340, 100%, 16%, 1) 100%
  );
}

.grid2 .front {
  display: block;
  position: relative;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsla(345, 100%, 47%, 1);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  overflow: auto;
  height: 139px;
}

.grid2:hover {
  filter: brightness(110%);
}

.grid2:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.grid2:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.grid2:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.grid2:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.grid2:focus:not(:focus-visible) {
  outline: none;
}

.child1 {
  background: linear-gradient(
    140deg,
    rgba(75, 118, 200, 1) 0%,
    rgba(31, 70, 145, 1) 100%
  );

  font-size: 25px;
  border-style: outset;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.child1:hover {
  box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0.6);
  border: 1px solid rgba(26, 26, 26, 0.5);
  color: rgba(255, 255, 255, 0.5);
}

.image-ensemble {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #416d19;
  }
}

.image-nous {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #262c21;
  }
}

.child2 {
  position: relative;
  left: -4px;
}

/* Styles pour les petits écrans, comme l'iPhone Mini */
@media only screen and (max-width: 360px) {
  .grid4 {
    height: 81px;
    margin-left: -31px;
    margin-top: 9px;
    width: 140px;
    padding: 8px 18px;
    font-size: 12px;
  }

  .child1 {
    margin-right: -28px;
    font-size: 23px;
    width: 180px;
  }
}

/* Styles pour les écrans moyens, comme le Galaxy S20 Ultra */
@media only screen and (min-width: 412px) {
  .grid4 {
    margin-top: 17px;
    grid-column: 3 / 4;
    margin-left: 8px;
    height: 70px;
    width: 152px;
    font-size: 13px;
    padding: 3px 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #31363f;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .child1 {
    width: 216px;
    margin-right: 7px;
    background: linear-gradient(140deg, #4b76c8 0%, #1f4691 100%);
    font-size: 25px;
    border-style: outset;
    cursor: pointer;
    color: white;
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Styles pour l'iPhone 13 Pro Max */
@media only screen and (min-width: 428px) {
  .child1 {
    width: 222px;
    margin-right: 16px;
    background: linear-gradient(140deg, #4b76c8 0%, #1f4691 100%);
    font-size: 25px;
    border-style: outset;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 0 5px rgba(17, 17, 17, 0);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .grid4 {
    margin-top: -14px;
    grid-column: 3 / 4;
    margin-left: 16px;
    height: 99px;
    width: 156px;
    font-size: 13px;
    padding: 7px 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #31363f;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
}

// /* Petits téléphones */
// @media only screen and (max-width: 320px) {
//   .grid4,
//   .child1 {
//     width: 100%; /* Ajustement pour utiliser toute la largeur disponible */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }

// /* Téléphones moyens */
// @media only screen and (min-width: 321px) and (max-width: 375px) {
//   .grid4,
//   .child1 {
//     /* width: 95%; */ /* Légère réduction pour conserver des marges */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }

// /* Grands téléphones */
// @media only screen and (min-width: 376px) and (max-width: 414px) {
//   .grid4,
//   .child1 {
//     /* width: 90%; */ /* Adapter pour grands téléphones */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }

// /* Très grands téléphones */
// @media only screen and (min-width: 415px) and (max-width: 428px) {
//   .grid4,
//   .child1 {
//     /* width: 85%; */ /* Laisser plus d'espace sur les côtés */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }

// /* Tablettes en portrait */
// @media only screen and (min-width: 429px) and (max-width: 768px) {
//   .grid4,
//   .child1 {
//     /* width: 80%; */ /* Adapter pour tablettes */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }

// /* Grands écrans */
// @media only screen and (min-width: 769px) {
//   .grid4,
//   .child1 {
//     /* width: 75%; */ /* Plus d'espace, donc réduction proportionnelle */
//     margin: auto; /* Centrer dans le conteneur */
//     /* Ajustez les autres propriétés comme nécessaire */
//   }
// }
