.seller-cards1{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.seller-card1{
  background: rgba(255, 255, 255, 0.2);
  width: 45%;
  height: 150px;
  border: 1px solid rgba(255, 255, 255, 0.532);
  border-radius: 10px;
  margin: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;

  h6 {
    font-size:  20px !important;
    color: black;
  }
}

.seller-cards2{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row;
}
.seller-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 150px;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.532);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-decoration: none;
  h6 {
    font-size:  20px !important;
    color: black;
  }
}

.seller-card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 150px;
  margin : 10px;
  border: 1px solid rgba(255, 255, 255, 0.532);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-decoration: none;
  h6 {
    font-size:  20px !important;
    color: black;
  }
}

.seller-card4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 150px;
  margin: 10px;
  border: 1px solid rgba(255, 255, 255, 0.532);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(66, 66, 66, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-decoration: none;
  h6 {
    font-size:  20px !important;
    color: black;
  }
}

.button-seller {
  width: 45%;
  height: 150px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
}

.button-seller::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.button-seller:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}
