
<div class="container mt-4">
<a class="xbtn-a" href="">A</a>
<a class="xbtn-b" href="">B</a>
<a class="xbtn-x" href="">X</a>
<a class="xbtn-y" href="">Y</a>
<a class="xbtn-t" href="">T</a>
</div>


<div class="card-store">
  <img src="/assets/Starfield" />
  <div class="card-store-infos">
    <h2>Le Magasin d'Emm'</h2>
    <p> ouvert de <strong>8h à 00h</strong> seulement.</p>
  </div>
</div>

<div class="game-card">
  <img src="/assets/Starfield" />
  <div class="card-game-infos">
    <h2>Starfield</h2>
    <p>Jeux de rôle</p>
    <p>PS5</p>
    <p>Neuf</p>
    <p><strong>60</strong> € seulement</p>
  </div>
</div>

<div class="battle-card">
  <div class="battle-card-inner">
    <div class="battle-card-front">
      <img src="/assets/Starfield" />
    </div>
    <div class="battle-card-back">
      <h2>Starfield</h2>
      <p>Jeux de rôle</p>
      <p>PS5</p>
      <p>Neuf</p>
      <p><strong>60</strong> € seulement</p>
    </div>
  </div>
</div>
