
  <nav class="navba">
    <div class="nav-content">
      <%= link_to root_path do %>
        <i class="fa-solid fa-igloo"></i>
      <% end %>
      <% if current_user.seller? %>
        <%= link_to new_seller_game_path do %>
          <i class="fa-solid fa-camera" style="color: #ffffff;"></i>
        <% end %>
      <% else %>
        <%= link_to new_battle_path do %>
          <i class="fa-solid fa-gamepad"></i>
        <% end %>
      <% end %>
    <% if current_user.first_name == "Nour"  %>
        <a class="navbar-brand" href=""><img class="avatar-bordered" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/140494890?v=4" /></a>
    <% else %>
      <a class="navbar-brand" href=""><img class="avatar-bordered" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/154015046?v=4" /></a>
    <% end %>
      </div>
  </nav>
