<div class="navbar ">
  <%= link_to root_path do %>
      <% image_tag('Logo.png', class:"logo") %>
      <% end %>
  <h6 class="text-light m-t">Second Round</h6>
  <%  if user_signed_in? %>
  <%= link_to destroy_user_session_path, class:"navbar-brand", data:{turbo_method: :delete} do %>
      <i class="fa-solid fa-sign-out", style="color: #ffffff;"></i>
      <% end %>
  <% else %>
  <a  href=""><img class="avatar-bordered" alt="avatar-bordered" src="https://avatars.githubusercontent.com/u/154015046?v=4" /></a>
  <% end %>
</div>
