<div class="seller-cards1">
  <%= link_to new_seller_game_path, class:"seller-card1 " do %>
  <i class="fa-solid fa-camera fa-bounce fa-2xl" style="color: #ffffff;"></i>
  <% end %>
  <%= link_to seller_stores_path, class:"seller-card2 " do %>
   <i class="fa-solid fa-shop  fa-2xl" style="color: #ffffff;"></i>
  <% end %>
</div>
  <div class="seller-cards2">
    <%# <%=  link_to edit_seller_game_path do %>
    <div class="seller-card3 ">
      <i class="fa-regular fa-pen-to-square fa-2xl" style="color: #ffffff;"></i>
    </div>
    <%# <% end %>
    <%= link_to seller_bookings_path, class:"seller-card2 " do %>
      <i class="fa-solid fa-clipboard-list fa-2xl" style="color: #ffffff;"></i>
  <% end %>
  </div>
</div>
