

<p style="margin-top: 26px;
    font-size: 12px;">Récupérez votre jeu avant </p>

<p id="demo" data-controller="timer" data-timer-limit-date-value="
                                      <%= booking_last.limit_date %>"
                                      data-timer-created-date-value="<%= booking_last.created_at %>"
                                      style="position: relative;font-size: 14px; top: -9px;">
</p>

<%#= link_to booking_path(booking_last) do %>
<%# end %>
<!--A FAIRE-->
