.xbtn-a{
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: white;
  background: linear-gradient(126deg, #07cc00e6 0%, #038f16d9 74%);
  padding: 6px;
  border: double #3acc00 2px;
  box-shadow: rgb(0, 0, 0) 3px 1px 25px -1px;
  border-radius: 50%;
  }

.xbtn-b {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: white;
  background: linear-gradient(126deg, #cc0000e2 0%, #8f0303d1 74%);
  padding: 6px;
  border: double #d10000 2px;
  box-shadow: rgb(0, 0, 0) 3px 1px 25px -1px;
  border-radius: 50%;
}

.xbtn-x {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: white;
  background: linear-gradient(126deg, #030cb9e2 0%, #020d7ed1 74%);
  padding: 6px;
  border: double #120167 2px;
  box-shadow: rgb(0, 0, 0) 3px 1px 25px -1px;
  border-radius: 50%;
}

.xbtn-y {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: white;
  background: linear-gradient(126deg, #dbe702e2 0%, #cfda02d1 74%);
  padding: 6px;
  border: double #cdbf02ee 2px;
  box-shadow: rgb(0, 0, 0) 3px 1px 25px -1px;
  border-radius: 50%;
}

.xbtn-t {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(57, 57, 57);
  background: linear-gradient(126deg, #6f6f6fe2 0%, #bdbdbdd1 74%);
  padding: 6px;
  border: double #a2a2a2 2px;
  box-shadow: rgb(0, 0, 0) 3px 1px 25px -1px;
  border-radius: 50%;
}
