.logo {
  width: 40px;
  height: 40px;
}
.navbar{
  justify-content: space-around !important;
}
.navba {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  position: sticky;
  bottom: 28px;
  left: 25%;
  width: 50%;
  height: 60px;
  background-color: rgba(171, 171, 171, 0.24);
  border-radius: 10px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  margin-top: 50px;
}

.nav-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}


.nav-content a {
  text-decoration: none;
  padding: 10px;
}

.nav-content i {
  color: white;
  font-size: 25px;
  margin-top: 5px;
}
