.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 0 0;
  max-width: 190px;
  position: relative;
  color: white;
}

.inputGroup input, .inputGroup select {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  color: white;
  option {
    color: black;
  }
}



.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: white;
}

.inputGroup :is(input:focus, input:valid) ~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #242426;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(150, 150, 200);
}

.output-location {
    background: transparent;
    border: none;
    color: white;
}
